@media (max-width: 850px) {

    body {
        margin: 0;
        background-color: #F3F3F3;
    }

    #banner {
        text-align: center;
        background-image: url("../img/Topo_desktop.jpg");
        background-size: cover;
        color: #ffffff;
        text-shadow: 1px 1px 5px #5FA3CC;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100vh;
    }

    .logo-div {
        width: 100%;
    }

    #jobcodes-logo {
        margin-top: 25px;
        margin-bottom: 70px;
        height: 110px;
    }

    .logo-div h1 {
        margin-bottom: 20px;
    }

    .logo-div h3 {
        text-align: left;
    }

    .logo-div h5 {
        text-align: left;
    }

    .rodape {
        display: flex;
        background: #565656;
        color: #fff;
        list-style: none;
        height: 60px;
    }

    .rodape ul {
        background: #565656;
        color: #fff;
        list-style: none;
        display: flex;
        margin: 0;
    }

    .rodape li {
        align-self: center;
    }

    .rodape span {
        color: #fff;
        align-self: center;
    }

    .rodape .icon-facebook-circled {
        font-size: 40px;
        color: #fff;
    }

    .rodape .icon-linkedin-circled {
        font-size: 40px;
        color: #fff;
    }
}

@media (min-width: 851px) {

    body {
        margin: 0;
        background-color: #F3F3F3;
    }

    #banner {
        text-align: center;
        background-image: url("../img/Topo_desktop.jpg");
        background-size: cover;
        color: #ffffff;
        text-shadow: 1px 1px 5px #5FA3CC;
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
        padding: 30px 30% 0;
    }

    .logo-div {
        width: 100%;
    }

    #jobcodes-logo {
        margin-top: 25px;
        margin-bottom: 70px;
        height: 110px;
    }

    .logo-div h1 {
        margin-bottom: 20px;
    }

    .logo-div h3 {
        text-align: left;
    }

    .logo-div h5 {
        text-align: left;
    }

    .rodape {
        display: flex;
        background: #565656;
        color: #fff;
        list-style: none;
        height: 60px;
    }

    .rodape ul {
        background: #565656;
        color: #fff;
        list-style: none;
        display: flex;
        margin: 0;
    }

    .rodape li {
        align-self: center;
    }

    .rodape span {
        color: #fff;
        align-self: center;
    }

    .rodape .icon-facebook-circled {
        font-size: 40px;
        color: #fff;
    }

    .rodape .icon-linkedin-circled {
        font-size: 40px;
        color: #fff;
    }
}