@media (max-width: 850px) {

    #banner {
        background-image: url("../img/Topo_mobile.jpg");
        background-size: cover;
        color: #ffffff;
        text-shadow: 1px 1px 5px #5FA3CC;
        padding: 45px 0 60px;
    }

    .logo-div {
        display: flex;
        justify-content: center;
    }

    #jobcodes-logo {
        align-self: center;
        margin-bottom: 60px;
    }

    .atract-text-div {
        display: flex;
        max-width: 100%;
        padding: 0 40px 0;
        flex-direction: column;
        justify-content: center;
    }

    .atract-text-div h3 {
        font-size: 25px;
        width: 100%;
        margin: 0 5px 15px;
        color: #ffffff;
        text-align: left;
    }

    .atract-text-div p {
        color: #ffffff;
        opacity: 0.8;
        font-size: 19px;
        font-weight: lighter;
        margin: 0 5px 15px;
        text-align: left;
    }

    .atract-text-div h6 {
        margin: 0 5px 15px;
        text-align: left;
    }


    .dividing-line {
        display: none;
    }

    .register-form-div {
        max-width: 100%;
        padding: 0 45px 0;
    }

    #mailchimp-form h3 {
        text-align: left;
    }

    .mc-field-group input {
        background-color: transparent;
        padding-left: 50px;
        height: 45px;
        color: white;
        width: 85%;
        margin-bottom: 20px;
        border-radius: 15px;
    }

    .mc-field-group .name {
        background: url("../img/icon_name.png") no-repeat 9px 7px;
    }

    .mc-field-group .email {
        background: url("../img/icon_email.png") no-repeat 8px 8px;
    }

    .mc-field-group input::placeholder {
        color: white;
        opacity: 1;
    }

    #mc-embedded-subscribe {
        width: 50%;
        color: #5FA3CC;
        border-radius: 15px;
        font-size: 25px;
        background-color: white;
    }

    body {
        background-color: #F3F3F3;
    }

    .middle-row-title {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .middle-row-title h3 {
        text-align: center;
        margin-bottom: 0;
        font-size: 25px;
    }

    #middle-container {
        width: 100%;
        padding: 0 45px 0;
    }

    #cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    }

    .card-reason {
        width: 100%;
        background-color: white;
        height: 160px;
        border-radius: 15px;
        margin-bottom: 15px;
        padding: 15px 15px 40px;
    }

    .card-title-div {
        display: flex;
        justify-content: left;
    }

    .card-title-div h6 {
        color: black;
        width: 70%;
        margin-left: 20px;
        margin-bottom: 0;
        align-self: center;
        font-weight: bold;
    }

    .card-description-div {
        display: flex;
        margin-top: 5px;
    }

    .card-description-div p {
        font-size: smaller;
    }

    #second-banner {
        text-align: center;
        display: flex;
        flex-direction: column;
        background-image: url("../img/CTA_desktop.jpg");
        background-size: cover;
        color: #ffffff;
        text-shadow: 1px 1px 5px #5FA3CC;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    #second-banner button {
        background-color: white;
        color: #5FA3CC;
        width: 75%;
        border-radius: 15px;
    }


    .rodape {
        display: flex;
        background: #565656;
        color: #fff;
        list-style: none;
    }

    .rodape ul {
        background: #565656;
        color: #fff;
        list-style: none;
    }

    .rodape span {
        color: #fff;
    }

    .rodape .icon-facebook-circled {
        font-size: 40px;
        color: #fff;
    }

    .rodape .icon-linkedin-circled {
        font-size: 40px;
        color: #fff;
    }

    .rodape .rede-social {
        display: inherit;
    }

    .rodape .copy {
        margin-top: 25px;
    }

}

@media (min-width: 851px) {
    #banner {
        text-align: center;
        background-image: url("../img/Topo_desktop.jpg");
        background-size: cover;
        color: #ffffff;
        text-shadow: 1px 1px 5px #5FA3CC;
        display: flex;
        flex-wrap: wrap;
        padding: 0 18% 140px 18%;
        min-height: 600px;
        height: 100vh;
    }

    .logo-div {
        width: 100%;
    }

    #jobcodes-logo {
        margin-top: 25px;
        margin-bottom: 145px;
        height: 110px;
    }

    #banner h3 {
        color: #ffffff;
        text-align: left;
        margin-bottom: 15px;
    }

    #banner p {
        color: #ffffff;
        opacity: 0.8;
        font-size: 19px;
        font-weight: lighter;
        text-align: left;
    }

    #banner h6 {
        text-align: left;
    }

    .atract-text-div {
        margin-top: -33px
    }

    .dividing-line {
        margin-top: -25px;
    }

    #mailchimp-form h3 {
        text-align: left;
    }

    .mc-field-group input {
        background-color: transparent;
        padding-left: 50px;
        height: 45px;
        color: white;
        width: 100%;
        margin-bottom: 20px;
        float: left;
        border-radius: 15px;
    }

    .mc-field-group .name {
        background: url("../img/icon_name.png") no-repeat 9px 7px;
    }

    .mc-field-group .email {
        background: url("../img/icon_email.png") no-repeat 8px 8px;
    }

    .mc-field-group input::placeholder {
        color: white;
        opacity: 1;
    }

    #mc-embedded-subscribe {
        width: 50%;
        color: #5FA3CC;
        float: left;
        border-radius: 15px;
        font-size: 20px;
        background-color: white;
    }

    body {
        background-color: #F3F3F3;
    }

    #middle-container {
        width: 70%;
        padding-right: 9%;
        padding-left: 9%;
    }

    .middle-row-title {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .middle-row-title h3 {
        color: #5FA3CC;
    }

    #cards {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .card-reason {
        width: 49%;
        background-color: white;
        height: 160px;
        border-radius: 15px;
        margin-bottom: 15px;
        padding: 15px 15px 40px;
    }

    .card-title-div {
        display: flex;
        justify-content: left;
    }

    .card-title-div h6 {
        color: black;
        width: 70%;
        margin-left: 20px;
        margin-bottom: 0;
        align-self: center;
        font-weight: bold;
    }

    .card-description-div {
        display: flex;
        margin-top: 5px;
    }

    .card-description-div p {
        font-size: smaller;
    }

    #second-banner {
        text-align: center;
        display: flex;
        flex-direction: column;
        background-image: url("../img/CTA_desktop.jpg");
        background-size: cover;
        color: #ffffff;
        text-shadow: 1px 1px 5px #5FA3CC;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    #second-banner button {
        background-color: white;
        color: #5FA3CC;
        width: 20%;
        border-radius: 15px;
    }

    .rodape {
        display: flex;
        background: #565656;
        color: #fff;
        list-style: none;
        height: 60px;
    }

    .rodape ul {
        background: #565656;
        color: #fff;
        list-style: none;
        display: flex;
        margin: 0;
    }

    .rodape li {
        align-self: center;
    }

    .rodape span {
        color: #fff;
        align-self: center;
    }

    .rodape .icon-facebook-circled {
        font-size: 40px;
        color: #fff;
    }

    .rodape .icon-linkedin-circled {
        font-size: 40px;
        color: #fff;
    }
}
