
#banner{
    text-align: center;
    background-image: url("../img/header.png");
    background-size: cover;
    padding: 150px;
    color: #ffffff;
    text-shadow: 1px 1px 5px #5FA3CC;
}
#banner h1 {
    color: #ffffff;
    font-size: 50px;
}
#banner p {
    color: #ffffff;
    opacity: 0.8;
    font-size: 30px;
    font-weight: lighter;
}
#logo {
    margin-bottom: 96px;
    height: 115px;
}

#botao {
    color: #5FA3CC;
    width: 35%;
    margin: 45px;
}

body {
    background-color: #F3F3F3;
}

#middle-container  {
    width: 60%;
}

.middle-row-title {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.middle-row-title h4 {
    color: #3eadc1;
}

#form-id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.option-display {
    padding-left: 0;
}

.option-choice-box {
    width: 100%;
    min-height: 35px;
    margin-bottom: 30px;
    display: flex;
    background-color: #E5E5E5;
    justify-items: center;
}

.option-choice-box p {
    margin: 0 0 0 30px;
    color: #787878;
    padding: 0;
    align-self: center;
}

.option-choose-box {
    display: flex;
    justify-content: space-around;
}
.choice-box-input {
    display: flex;
    margin-left: 100px;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
}

.choice-box-input input {
    margin-right: 7px;
    align-self: center;
}

.choice-box-input img {
    height: min-content;
    margin-right: 7px;
}

.choice-box-input h6 {
    margin-top: 2px;
    margin-right: 7px;
    color: #787878;
    margin-bottom: 0;
}

.choice-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.choice-box textarea {
    width: 80%;
    height: 100px;
}

.final-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    height: 350px;
}

.click-advertise {
    width: 50%;
}

.click-advertise h1 {
    color: #3eadc1;
    font-weight: bold;
    font-size: 45px;
    margin: 0 50px 0 0;
}

.rodape {
    display: flex;
    background: #565656;
    color: #fff;
    list-style: none;
}

.rodape ul {
    background: #565656;
    color: #fff;
    list-style: none;
}

.rodape span {
    color: #fff;
}

.rodape .icon-facebook-circled {
    font-size: 40px;
    color: #fff;
}

.rodape .icon-linkedin-circled {
    font-size: 40px;
    color: #fff;
}

.rodape .rede-social {
    display: inherit;
}

.rodape .copy {
    margin-top: 25px;
}

.personal-info-and-submit {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.personal-info-and-submit input {
    width: 80%;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 0;
}

.personal-info-and-submit button {
    background-color: yellow;
    color: #3eadc1;
    font-weight: bold;
    margin-top: 40px;
    width: 80%;
}

.onSuccess {
    color: #3eadc1;
    margin-top: 5px;
    display: none;
}
