
@media (max-width: 850px) {

    #banner {
        background-image: url("../img/header.png");
        display: flex;
        flex-direction: column;
        background-size: cover;
        padding: 18px;
    }

    #banner h1{
        margin: 10px 5px 0 5px;
        font-size: 30px;
        color: #ffffff;
        text-align: center;
        display: none;
    }

    #banner p {
        margin: 0 5px 0 5px;
        font-size: 30px;
        color: #ffffff;
        text-align: center;
        opacity: 0.8;
    }

    #banner a {
        align-self: center;
    }

    #botao {
        color: #5FA3CC;
        margin: 0;
        padding: 9px;
        margin: 30px;
    }

    #logo {
        align-self: center;
        height: 110px;
    }

    body {
        background-color: #F3F3F3;
    }

    .middle-row-title {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .middle-row-title h4 {
        color: #3eadc1;
        text-align: center;
        margin-bottom: 0;
        font-size: 25px;
    }

    .option-display {
        padding-left: 0;
    }

    .option-choice-box {
        width: 100%;
        min-height: 35px;
        margin-bottom: 30px;
        display: flex;
        background-color: #E5E5E5;
        justify-items: center;
    }

    .option-choice-box p {
        margin: 0 0 0 10px;
        font-size: 20px;
        color: #787878;
        padding: 0;
        align-self: center;
        text-align: center;
    }


    .option-choose-box {
        display: flex;
        justify-content: space-around;
    }
    .choice-box-input {
        display: flex;
        width: 100%;
        justify-self: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .choice-box-input input {
        width: 25px;
        height: 25px;
        margin-left: 1px;
        align-self: center;
    }

    .choice-box-input h6 {
        margin-top: 2px;
        margin-right: 7px;
        color: #787878;
        font-size: 25px;
        margin-bottom: 0;
    }

    .option-choose-box {
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: space-around;
    }

    .choice-box-input {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .choice-box {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .choice-box textarea {
        width: 80%;
        margin-top: 5px;
    }

    .final-row {
        margin: 20px 5px 5px 10px;
        display: flex;
        flex-direction: column;
    }

    .click-advertise {
        display: flex;
        flex-direction: column;
    }

    .click-advertise h1 {
        align-self: center;
        margin: 10px;
        color: #3eadc1;
        font-weight: bold;
    }

    .personal-info-and-submit {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .personal-info-and-submit input {
        align-self: center;
        width: 80%;
        margin: 10px;
    }

    .personal-info-and-submit button {
        background-color: #ffcd54;
        color: #3eadc1;
        font-weight: bold;
        border: none;
    }

    .onSuccess {
        color: #3eadc1;
        margin-top: 5px;
        display: none;
    }

    .rodape {
        display: flex;
        background: #565656;
        color: #fff;
        list-style: none;
    }

    .rodape ul {
        background: #565656;
        color: #fff;
        list-style: none;
    }

    .rodape span {
        color: #fff;
    }

    .rodape .icon-facebook-circled {
        font-size: 40px;
        color: #fff;
    }

    .rodape .icon-linkedin-circled {
        font-size: 40px;
        color: #fff;
    }

    .rodape .rede-social {
        display: inherit;
    }

    .rodape .copy {
        margin-top: 25px;
    }

    #mc_embed_signup {
        display: none;
    }

}

@media (min-width: 851px) {
    #banner {
        text-align: center;
        background-image: url("../img/header.png");
        background-size: cover;
        padding: 75px;
        color: #ffffff;
        text-shadow: 1px 1px 5px #5FA3CC;
    }

    #banner h1 {
        color: #ffffff;
        font-size: 50px;
    }

    #banner p {
        color: #ffffff;
        opacity: 0.8;
        font-size: 30px;
        font-weight: lighter;
    }

    #logo {
        margin-bottom: 49px;
        height: 115px;
    }

    #botao {
        color: #5FA3CC;
        width: 30%;
        margin: 55px;
        height: 60px;
        font-size: 30px;
    }

    body {
        background-color: #F3F3F3;
    }

    #middle-container {
        width: 60%;
    }

    .middle-row-title {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .middle-row-title h4 {
        color: #3eadc1;
    }

    #form-id {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .option-display {
        padding-left: 0;
    }

    .option-choice-box {
        width: 100%;
        min-height: 35px;
        margin-bottom: 30px;
        display: flex;
        background-color: #E5E5E5;
        justify-items: center;
    }

    .option-choice-box p {
        margin: 0 0 0 30px;
        color: #787878;
        padding: 0;
        align-self: center;
    }

    .option-choose-box {
        display: flex;
        justify-content: space-around;
    }

    .choice-box-input {
        display: flex;
        margin-left: 100px;
        width: 100%;
        align-items: center;
        margin-bottom: 30px;
    }

    .choice-box-input input {
        margin-right: 7px;
        align-self: center;
    }

    .choice-box-input img {
        height: min-content;
        margin-right: 7px;
    }

    .choice-box-input h6 {
        margin-top: 2px;
        margin-right: 7px;
        color: #787878;
        margin-bottom: 0;
    }

    .choice-box {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .choice-box textarea {
        width: 80%;
        height: 100px;
    }

    .final-row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        height: 350px;
    }

    .click-advertise {
        width: 50%;
    }

    .click-advertise h1 {
        color: #3eadc1;
        font-weight: bold;
        font-size: 45px;
        margin: 0 50px 0 0;
    }

    .personal-info-and-submit {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .personal-info-and-submit input {
        width: 80%;
        margin-top: 20px;
        font-size: 20px;
        margin-left: 0;
    }

    .personal-info-and-submit button {
        background-color: #ffcd54;
        color: #3eadc1;
        font-weight: bold;
        margin-top: 40px;
        width: 80%;
        border: none;
    }

    .onSuccess {
        color: #3eadc1;
        margin-top: 5px;
        display: none;
    }

    .rodape {
        display: flex;
        background: #565656;
        color: #fff;
        list-style: none;
    }

    .rodape ul {
        background: #565656;
        color: #fff;
        list-style: none;
    }

    .rodape span {
        color: #fff;
    }

    .rodape .icon-facebook-circled {
        font-size: 40px;
        color: #fff;
    }

    .rodape .icon-linkedin-circled {
        font-size: 40px;
        color: #fff;
    }

    .rodape .rede-social {
        display: inherit;
    }

    .rodape .copy {
        margin-top: 25px;
    }

    #mc_embed_signup {
        display: none;
    }
}
