@media (max-width: 850px) {

    .nav {
        display: flex;
        height: auto;
        background: url("../img/BG_2.jpg");
    }

    .left-side-nav {
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 20px 0 0;
    }

    #Logo {
        height: 60px;
    }

    .right-side-nav {
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 35px 0 0;
    }

    .right-side-nav a {
        font-size: 15px;
        padding-right: 30px;
        color: white;
        font-weight: bold;
    }

    .center-nav {
        width: 100%;
        padding: 20px;
    }

    .center-nav h2 {
        text-align: center;
        color: white;
        font-weight: bold;
    }

    .results {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .rectangle-result {
        width: 80%;
        align-self: center;
        background-color: #E5E5E5;
        margin-top: 20px;
        border-radius: 15px;
        padding: 35px 50px 55px;
    }

    #answers-qtd {
        color: blue;
        font-size: 70px;
    }

    .level-result {
        align-self: center;
        width: 80%;
        padding: 20px 5%;
    }

    .level-result h2 {
        text-align: center;
    }

    #dev-level {
        text-align: center;
        color: #5FA3CC;
        font-weight: bold;
    }

    .thank-you {
        margin-top: 15px;
        background-color: #5FA3CC;
        border-radius: 10px;
        padding: 20px 20px;
    }

    .thank-you h6 {
        color: white;
    }

    .rodape {
        display: flex;
        background: #565656;
        color: #fff;
        list-style: none;
        height: 60px;
    }

    .rodape ul {
        background: #565656;
        color: #fff;
        list-style: none;
        display: flex;
        margin: 0;
    }

    .rodape li {
        align-self: center;
    }

    .rodape span {
        color: #fff;
        align-self: center;
    }
}

@media (min-width: 851px) {

    body {
        display: flex;
        flex-direction: column;
        min-height: 500px;
    }

    .nav {
        display: flex;
        height: auto;
        background: url("../img/BG_2.jpg");
    }

    .left-side-nav {
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 20px 0 0;
    }

    #Logo {
        height: 60px;
    }

    .right-side-nav {
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 35px 0 0;
    }

    .right-side-nav a {
        font-size: 15px;
        padding-right: 30px;
        color: white;
        font-weight: bold;
    }

    .center-nav {
        width: 100%;
        padding: 20px 30%;
    }

    .center-nav h2 {
        text-align: center;
        color: white;
        font-weight: bold;
    }

    .results {
        width: 100%;
        padding: 0 20%;
        display: flex;
    }

    .rectangle-result {
        width: 35%;
        background-color: #E5E5E5;
        margin: 20px 20px;
        border-radius: 15px;
        padding: 35px 50px 55px;
    }

    #answers-qtd {
        color: blue;
        font-size: 70px;
    }

    .level-result {
        width: 65%;
        padding: 20px 5%;

    }

    #dev-level {
        color: #5FA3CC;
        font-weight: bold;
    }

    .thank-you {
        margin-top: 15px;
        background-color: #5FA3CC;
        border-radius: 10px;
        padding: 20px 20px;
    }

    .thank-you h6 {
        color: white;
    }

    .rodape {
        display: flex;
        background: #565656;
        color: #fff;
        list-style: none;
        height: 60px;
    }

    .rodape ul {
        background: #565656;
        color: #fff;
        list-style: none;
        display: flex;
        margin: 0;
    }

    .rodape li {
        align-self: center;
    }

    .rodape span {
        color: #fff;
        align-self: center;
    }
}